
<div class="container-fluid">
<div class="heading">
  {{#if counter }}
      <a href="/courses/trash" class="course-link">
      <p><i class="trash-icon fas fa-trash mr-2" aria-hidden="true"></i>Trash ({{counter}})</p>
      </a>
  {{/if}}

  <h3 class="text-center mt-5 mb-5">{{title}}</h3>
</div>
  <div class="row">
    {{#each data}}
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-3">
      <div class="card">
        <img class="card-img-top" src="{{this.thumbnailUrl}}" alt="{{this.thumbnailUrl}}">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">"{{this.title}}"</p>
          <div class="d-flex mr-auto">
            <a href="/courses/{{this._id}}/edit" class="btn btn-sm btn-primary mr-1">edit</a>
            <a href="" data-toggle="modal" data-target="#modal-delete" data-id="{{this._id}}"
              class="btn btn-sm btn-danger">delete</a>
          </div>

        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Course delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">cancel</button>
        <button type="button" id="btn_delete" class="btn btn-sm btn-danger" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>


<form method="POST" name="formDelete"></form>

<script>

  document.addEventListener('DOMContentLoaded', function () {
    var course_id;
    var formDelete = document.forms[0];
    var btn = document.getElementById('btn_delete');
    
    // von Boostraps, ein ID in der Modal-Form hinzufügen und holen
    $('#modal-delete').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
        course_id = button.data('id');
    })


    btn.onclick = function () {
      formDelete.action = "/courses/" + course_id + "/delete?_method=DELETE";
      formDelete.submit();
    }

  })
</script>